@media screen and (min-width:320px)  {
       button {

  float: none;
     margin: 20px auto;
}
        }
@media screen and (min-width:1366px)  {
       button {

  float: left;
     margin: 20px 44%;
}
        }